<nav class="top-nav">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}" class="nav-brand">WorkingDog.fi</a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
            <a href="{{ '/judging/' | relative_url }}" class="nav-link">IRO SAR Test</a>
            <a href="{{ '/webinars-eng.html' | relative_url }}" class="nav-link">Webinars / ENG</a>
            <a href="{{ '/webinars-rus.html' | relative_url }}" class="nav-link">Вебинары / РУС</a>
        </div>
    </div>
</nav>
